* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bodyItems {
    text-align: center;
}

img {
    border-style: solid;
}

#dialogBox {
    border-style: solid;
    overflow: scroll;
    width: 700px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}